  .category {
    background: #fff;
    border-radius: var(--radius);
    box-shadow: var(--shadow-soft);
    overflow: hidden;
    transition: transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
    cursor: pointer;
  }
  
  .category:hover {
    transform: scale(1.05);
  }
  
  .category img {
    width: 300px;
    height: 400px; 
    object-fit: cover; 
    border-radius: 12px;
  }
  
  .category span {
    margin-top: 8px;
    font-size: 23px;
    text-align: center;
  }
  
  